@import "../../../styles.scss";
@import "../../shared/mixins.scss";

section {
    margin-bottom: 8rem;
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 6rem;
        .left-sec {
            width: 35rem;
            margin-right: 10rem;
            padding-left: 3rem;

            h2 {
                font-size: 90px;
            }

            .text-sec {
                text-align: justify;
                gap: 4rem;
            }
        }

        .personal-container {
            display: flex;
            flex-direction: column;
            width: 32rem;

            .personal-sec {
                display: flex;
                align-items: center;
                .personal-img {
                    margin-right: 2rem;
                    width: 3rem;
                    height: 3rem;
                    transition: transform 0.2s ease;

                    &:hover {
                        transform: translateY(6px) scale(1.2);
                    }
                }
            }
        }

        .me {
            display: flex;
            justify-content: flex-end;
            top: 1rem;

            img {
                width: 28rem;
                height: 28rem;
                border: 4px solid #70e61c;
                border-radius: 50%;
            }
        }

        .green-line {
            width: 6rem;
            height: 4px;
            flex: 1;
            background-color: #70e61c;
        }
    }
}
