@import "../../../styles.scss";
@import "../../shared/mixins.scss";

$violett: #9747ff;
$green: #70e61c;

header {
    height: 6rem;
    position: sticky;
    background-color: #141d2f;
    top: 0;
    z-index: 4;
    filter: drop-shadow(3px 3px 5px rgba(22, 22, 22, 0.582));

    .content {
        @include flex($justify: space-between);
        height: 5rem;
        padding: 3rem 6rem;

        .logo {
            width: 155px;
            height: 50px;
        }

        nav {
            width: 40%;

            ul {
                @include flex($justify: space-evenly, $align: end);
                a {
                    font-size: 24px;
                    font-weight: 300;
                    cursor: pointer;

                    &:hover {
                        color: $green;
                    }
                }
            }

            a.nav-link {
                text-decoration: none;
            }

            a.nav-link.active {
                position: relative;
                color: inherit;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 4px;
                    width: 50%; // → nur halber Text
                    background-color: $violett;
                }
            }

            .lang-switch {
                @include flex();
                gap: 0.5rem;
                cursor: pointer;
                font-size: 24px;
                font-weight: 300;
            }

            .lang-switch span {
                cursor: pointer;
                text-decoration: none;
            }

            .lang-switch span.active {
                text-decoration: underline $violett 4px solid;
            }
        }
    }
}
