
<header>
    <div class="content">
        <img class="logo" src="/assets/images/iri-logo.png" alt="" />
        <nav>
            <ul>
                <li>
                    <a
                        class="nav-link"
                        [class.active]="activeLink === 'start'"
                        (click)="setActive('start')"
                        href="#aboutme"
                    >
                        About me
                    </a>
                </li>
                <li>
                    <a
                        class="nav-link"
                        [class.active]="activeLink === 'start'"
                        (click)="setActive('start')"
                        href="#skills"
                        >Skills</a
                    >
                </li>
                <li>
                    <a
                        class="nav-link"
                        [class.active]="activeLink === 'start'"
                        (click)="setActive('start')"
                        href="#portfolio"
                        >Portfolio</a
                    >
                </li>
            </ul>
        </nav>
    </div>
</header>
