<section class="header">
    <h1>Irina</h1>
    <nav>
        <a
            class="nav-link"
            [class.active]="activeLink === 'start'"
            (click)="setActive('start')"
            href="#aboutme"
            >About me</a
        >
        <a
            class="nav-link"
            [class.active]="activeLink === 'start'"
            (click)="setActive('start')"
            href="#skills"
            >Skills</a
        >
        <a
            class="nav-link"
            [class.active]="activeLink === 'start'"
            (click)="setActive('start')"
            href="#portfolio"
            >Portfolio</a
        >
    </nav>
</section>
