@import "../../../styles.scss";
@import "../../shared/mixins.scss";

$violett: #9747ff;
$green: #70e61c;

header {
    height: 6rem;
    position: sticky;
    background-color: #141d2f;
    top: 0;
    z-index: 4;
    filter: drop-shadow(3px 3px 5px rgba(43, 43, 43, 0.11));

    .content {
        @include flex($justify: space-between, $align: center);
        height: 5rem;
        padding: 3rem 6rem;

        .logo {
            width: 155px;
            height: 50px;
        }

        nav {
            width: 26%;

            ul {
                @include flex($justify: space-evenly, $align: end);
                gap: 2rem;
                a {
                    font-size: 24px;
                    font-weight: 300;
                    cursor: pointer;

                    &:hover {
                        color: $green;
                    }
                }
            }

            .nav-link::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 4px;
                width: 0;
                text-underline-offset: 8px;
                background-color: $violett;
                transition: width 0.3s ease;
            }

            .nav-link:hover::after {
                width: 50%; /* beim Hover, optional */
            }
        }
    }
}
