@import "../../../styles.scss";
@import "../../shared/mixins.scss";

$violett: #9747ff;
$green: #70e61c;

header {
    height: 10rem;
    padding: 3rem 8rem;
    position: sticky;
    top: 0;
    z-index: 4;

    .content {
        display: flex;
        justify-content: space-between;

        .logo {
            width: 9rem;
            height: 3rem;
        }

        nav {
            width: 35rem;
            height: 5rem;

            ul {
                li {
                    a {
                        font-size: 24px;
                        font-weight: 300;
                        cursor: pointer;

                        &:hover {
                            color: $green;
                        }
                    }
                }
            }

            .nav-link::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 4px;
                width: 0;
                text-underline-offset: 8px;
                background-color: $violett;
                transition: width 0.3s ease;
            }

            .nav-link:hover::after {
                width: 50%; /* beim Hover, optional */
            }
        }
    }
}
