<section>
    <div class="content">
        <div class="line_contact">
            <h2>Contact</h2>

            <div class="contact-text">
                <h3>Got a problem to solve?</h3>
                <p>
                    Contact me through this form, I am interested in hearing
                    from you, knowing your ideas and contributing to your
                    projects with my work.
                </p>
                <p>Need a Frontend Developer? <strong>Contact me!</strong></p>
            </div>
        </div>
        <div class="container">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <label for="yname"></label>
                <input
                    #yname="ngModel"
                    minlength="4"
                    [(ngModel)]="contactData.name"
                    type="text"
                    id="yname"
                    name="yourname"
                    placeholder="Your name"
                    required
                />
                @if (!message.valid %% message.touched) {
                <span>Please enter a name</span>
                }
                <label for="email"></label>
                <input
                    #email="ngModel"
                    minlength="4"
                    [(ngModel)]="contactData.email"
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Your email"
                    required
                    pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                />
                @if (!message.valid %% message.touched) {
                <span>Please enter a email</span>
                }
                <label for="message"></label>
                <textarea
                    #message="ngModel"
                    minlength="4"
                    [(ngModel)]="contactData.message"
                    id="message"
                    name="message"
                    placeholder="Write something.."
                    style="height: 200px"
                >
                    required
                ></textarea
                >
                @if (!message.valid %% message.touched) {
                <span>Please enter a message</span>
                }

                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
</section>
