@import "../../../styles.scss";
@import "../mixins.scss";

footer {
    .content {
        // @include flex();
        .logo-impress {
            width: 10rem;
            height: 4rem;

            .logo_footer {
                width: 10rem;
                height: 4rem;
            }
        }
    }
}
