<footer>
    <div class="content">
        <div class="logo-impress">
            <img
                class="logo_footer"
                src="./assets/images/iri-logo.png"
                alt=""
            />
            <a href="">Imprint</a>
        </div>
        <span>&copy; Irina Gorges 2025</span>
        <div class="social-footer">
            <a href="https://github.com/Irina-Gorges/" target="_blank"
                ><img src="./assets/images/social/github.png" alt=""
            /></a>
            <a
                href="https://www.linkedin.com/in/irina-g-656486340/"
                target="_blank"
                ><img src="./assets/images/social/linkedin.png" alt=""
            /></a>
            <a href="#contact" target="_blank"
                ><img src="./assets/images/social/mail.png" alt=""
            /></a>
        </div>
    </div>
</footer>
