<footer>
    <div class="content">
        <div class="logo-impress">
            <img class="logo_footer" src="/assets/images/iri-logo.png" alt="" />
            <a href="">Imprint</a>
        </div>
        <span>&copy; Irina Gorges 2025</span>
        <div class="social-footer">
            <img src="/assets/images/social/github.png" alt="" />
            <img src="/assets/images/social/linkedin.png" alt="" />
            <img src="/assets/images/social/mail.png" alt="" />
        </div>
    </div>
</footer>
