@import "../../../styles.scss";
@import "../mixins.scss";

footer {
    height: 11em;
    border-top: 4px solid #70e61c;

    .content {
        width: 100%;
        @include flex($justify: space-between);
        padding: 0 6em;

        .logo-impress {
            width: 10em;
            height: 4em;

            .logo_footer {
                width: 10em;
                height: 3em;
            }
        }

        span {
            font-size: 20px;
            font-weight: 400;
        }

        .social-footer {
            width: 15em;
            img {
                margin-right: 2em;
            }

            .footer-nav {
                a {
                    cursor: pointer;
                }
            }

            .btn-social {
                width: 30px;
                transition: transform 0.2s ease;
                &:hover {
                    transform: translateX(6px) scale(1.3);
                }
            }
        }
    }
}
