<section>
    <div class="content">
        <div class="socialmedia">
            <div class="linkBox">
                <div class="line"></div>
                <a href="https://github.com/Irina-Gorges/" target="_blank"
                    ><img
                        class="socialBtn"
                        src="./assets/images/social/github.png"
                        alt="Github Link"
                /></a>
                <a
                    href="https://www.linkedin.com/in/irina-g-656486340/"
                    target="_blank"
                    ><img
                        class="socialBtn"
                        src="./assets/images/social/linkedin.png"
                        alt="LinkedIn Link"
                /></a>
                <a href="#contact" target="_blank"
                    ><img
                        class="socialBtn"
                        src="./assets/images/social/mail.png"
                        alt="Contact me"
                /></a>

                <a href="#contact">IrinaGorges&#64;live.de</a>
            </div>
            <div class="scrollInfo">
                <button (click)="scrollToDown()" id="scrollDownBtn">
                    <img src="./assets/images/social/Scroll down.png" alt="" />
                    <img src="./assets/images/social/arrow_down.png" alt="" />
                </button>
            </div>
        </div>
    </div>
</section>
