<section>
    <div class="content">
        <div class="skill-icons">
            <div>
                <img src="./assets/images/icons/Angular.png" alt="Angular" />
                <p>Angular</p>
            </div>
            <div>
                <img
                    src="./assets/images/icons/typescript.png"
                    alt="Typescript"
                />
                <p>Typescript</p>
            </div>
            <div>
                <img
                    src="./assets/images/icons/Javascript.png"
                    alt="Javascript"
                />
                <p>Javascript</p>
            </div>
            <div>
                <img src="./assets/images/icons/html.png" alt="HTML" />
                <p>HTML</p>
            </div>
            <div>
                <img src="./assets/images/icons/Git.png" alt="Git" />
                <p>Git</p>
            </div>
            <div>
                <img src="./assets/images/icons/css.png" alt="CSS" />
                <p>CSS</p>
            </div>
            <div>
                <img src="./assets/images/icons/Api.png" alt="Api" />
                <p>Api</p>
            </div>
        </div>
        <div class="skill-text">
            <div class="h2-line">
                <h2>My skills</h2>
                <div class="line"></div>
            </div>
            <p>
                I have grown my frontend developments skills that have allowed
                me to create different real projects.
            </p>
            <button class="btn-Skills">Get in touch</button>
        </div>
    </div>
</section>
