@import "../../../styles.scss";

.btn-Skills {
    font-size: 23px;
    font-weight: 300;
    outline: none;
    background-color: #70e61c;
    width: 165px;
    height: 58px;
    border-radius: 15px;
    cursor: pointer;
    border: none;

    &:hover {
        transform: scale(1.15);
        background-color: #9747ff;
        transition: 125ms ease-in-out;
    }
}
