@import "../../../styles.scss";
@import "../../shared/mixins.scss";

section {
    height: 100vh;
    .content {
        @include flex($justify: space-between);
        padding-left: 6rem;

        .skill-icons {
            @include flex($justify: start, $align: start);
            flex-wrap: wrap;
            gap: 5rem;
            row-gap: 80px;
            font-size: 16px;
            font-weight: 500;
            width: 50%;
            height: 12rem;

            div {
                @include flex($direction: column);

                img:hover {
                    animation: jump 1s ease infinite;

                    @keyframes jump {
                        0%,
                        50%,
                        100% {
                            transform: translateY(0);
                        }

                        40% {
                            transform: translateY(-30px);
                        }

                        80% {
                            transform: translateY(-15px);
                        }
                    }
                }
            }
        }

        .skill-text {
            @include flex($align: end, $direction: column);
            width: 40%;
            text-align: end;

            p {
                padding-right: 6rem;
            }

            .h2-line {
                display: flex;
                align-items: center;

                h2 {
                    font-size: 90px;
                    margin-right: 2rem;
                }

                .line {
                    max-width: 15rem;
                    width: 4rem;
                    height: 4px;
                    flex: 1;
                    background-color: #9747ff;
                }
            }

            .btn-Skills {
                right: 13rem;
                margin-top: 2rem;
                font-size: 23px;
                font-weight: 300;
                outline: none;
                background-color: #70e61c;
                width: 200px;
                height: 58px;
                border-radius: 15px;
                cursor: pointer;
                border: none;

                &:hover {
                    transform: scale(1.15);
                    background-color: #9747ff;
                    transition: 125ms ease-in-out;
                }
            }
        }
    }
}
