@import "../../../styles.scss";
@import "../../shared/mixins.scss";

section {
    .content {
        @include flex($align: center);

        img {
            width: 30rem;
            height: 34rem;
            object-fit: cover;
        }
        div {
            width: 10rem;
            height: 6rem;
            .vertikalText {
                width: 12.5rem;
                font-size: 57px;
                transform: rotate(-90deg);
                display: inline-block;
            }
        }

        .horizontalText {
            width: 10rem;
            h2 {
                letter-spacing: 7px;
                width: 35rem;
                font-size: 76px;
                line-height: 90px;
                margin-bottom: 1rem;
            }
            p {
                width: 35rem;
                font-size: 50px;
                letter-spacing: 1px;
                line-height: 35px;
                color: #9747ff;
            }
        }

        .titleBtn {
            position: relative;
            top: 12rem;

            .talk_Btn {
                font-size: 23px;
                font-weight: 300;
                outline: none;
                background-color: #70e61c;
                width: 165px;
                height: 58px;
                border-radius: 15px;
                cursor: pointer;
                border: none;

                &:hover {
                    transform: scale(1.15);
                    background-color: #9747ff;
                    transition: 125ms ease-in-out;
                }
            }
        }
    }
    .shape {
        @include flex($justify: center);
        z-index: -1;
        left: 0;
        right: 0;
        height: 50rem;
        position: absolute;
        top: 20rem;
        width: 100%;
        _min-width: 200rem;
        overflow-y: hidden;

        img {
            width: 100%;
            height: 76%;
        }
    }
}
