@import "../../../styles.scss";
@import "../../shared/mixins.scss";

section {
    height: 100dvh;
    background-image: url("../../../../public/assets/images/background/shape.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .content {
        display: flex;
        align-items: center;

        img {
            width: 34rem;
            height: 36rem;
            object-fit: cover;
        }
        div {
            margin-left: 4rem;
            display: flex;
            align-items: center;
            width: 35rem;
            height: 6rem;
            .vertikalText {
                width: 13rem;
                font-size: 50px;
                transform: rotate(-90deg);
                display: inline-block;
            }
        }

        .horizontalText {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 1rem;
            h2 {
                letter-spacing: 7px;
                width: 55rem;
                font-size: 70px;
                line-height: 90px;
            }
            p {
                width: 550px;
                font-size: 47px;
                letter-spacing: 1px;
                line-height: 35px;
                color: #9747ff;
            }
        }

        .titleBtn {
            position: relative;
            right: 140px;
            top: 200px;

            .talk_Btn {
                font-size: 23px;
                font-weight: 300;
                outline: none;
                background-color: #70e61c;
                width: 165px;
                height: 58px;
                border-radius: 15px;
                cursor: pointer;
                border: none;

                &:hover {
                    transform: scale(1.15);
                    background-color: #9747ff;
                    transition: 125ms ease-in-out;
                }
            }
        }
    }
}
