@import "../../styles.scss";
@import "../shared/mixins.scss";

section {
    // background-image: url("../../../public/assets/images/background/shape.png");
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;

    .content {
        @include flex($justify: space-between, $align: center);

        .line {
            @include flex();
            min-width: 10rem;
            width: 10rem;
            height: 4px;
            flex: 1;
            background-color: #9747ff;
        }

        .socialmedia {
            @include flex($justify: space-between, $align: center);
            width: 100%;
            padding: 8rem 4rem 16rem;
        }
        .linkBox {
            @include flex($align: center);
            gap: 2rem;
        }

        .scrollInfo {
            @include flex($direction: column);
            gap: 1rem;
        }
    }
}
