.scroll_container {
    .line {
        min-width: 10rem;
        width: 10rem;
        height: 4px;
        flex: 1;
        background-color: #9747ff;
    }

    .socialmedia {
        display: flex;
        justify-content: space-between;
        align-items: end;
        width: 100%;
        padding: 8rem 4rem 16rem;
    }
    .linkBox {
        gap: 4rem;
        margin-bottom: 2rem;
    }

    .scrollInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}
