<section class="scroll_container flex_container">
    <div class="line"></div>
    <div class="socialmedia">
        <div class="linkBox flex_container">
            <img src="/images/social/github.png" alt="" />
            <img src="/images/social/linkedin.png" alt="" />
            <img src="/images/social/mail.png" alt="" />
        </div>
        <div class="scrollInfo">
            <img src="/images/social/Scroll down.png" alt="" />
            <img src="/images/social/arrow_down.png" alt="" />
        </div>
    </div>
</section>
