<section>
    <div class="content">
        <div class="line"></div>
        <div class="socialmedia">
            <div class="linkBox">
                <img src="/assets/images/social/github.png" alt="" />
                <img src="/assets/images/social/linkedin.png" alt="" />
                <img src="/assets/images/social/mail.png" alt="" />
            </div>
            <div class="scrollInfo">
                <img src="/assets/images/social/Scroll down.png" alt="" />
                <img src="/assets/images/social/arrow_down.png" alt="" />
            </div>
        </div>
    </div>
</section>
