<section>
    <div class="content">
        <div class="headline-portfolio">
            <div class="left">
                <div class="short-line"></div>

                <h2>Portfolio</h2>
                <div class="long-line"></div>
                
            </div>
           <div class="subtitles"><p>
                    Explore a selection of my work here – interact with projects
                    to see my skills in action.
                </p></div>
            <div class="right">
                <img
                    src="./assets/images/mockup_screens/Join.png"
                    alt="Project Join"
                />
                <h3>Join</h3>
                <h4>Angular | Typescript | HTML | CSS | Firebase</h4>
                <p>
                    Task manager inspired by the Kanban System. Create and
                    organize tasks using drag and drop functions, assign users
                    and categories.
                </p>
            </div>
        </div>
    </div>
</section>
