<section id="portfolio">
    <div class="content">
        <div class="headline-portfolio">
            <div class="title">
                <div class="short-line"></div>

                <h2>Portfolio</h2>
                <div class="long-line"></div>
            </div>
            <div class="subtitles">
                <p>
                    Explore a selection of my work here – interact with projects
                    to see my skills in action.
                </p>
            </div>
        </div>
        <div class="proContainer">
            <div
                *ngFor="let project of projects; let i = index"
                [ngClass]="{
                    'layout-left': i % 2 === 0,
                    'layout-right': i % 2 !== 0
                }"
                class="project-container"
            >
                <img [src]="project.imageSrc" [alt]="project.altText" />
                <div class="text-content">
                    <h3>{{ project.title }}</h3>
                    <h4>{{ project.technologies }}</h4>
                    <p>{{ project.description }}</p>
                    <div class="buttons">
                        <a
                            *ngIf="project.liveUrl"
                            [href]="project.liveUrl"
                            target="_blank"
                            rel="noopener"
                            class="btn btn-live"
                            >Live Test</a
                        >
                        <a
                            *ngIf="project.repoUrl"
                            [href]="project.repoUrl"
                            target="_blank"
                            rel="noopener"
                            class="btn btn-repo"
                            >GitHub</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
